$font-family-first: 'Open Sans', sans-serif;
$font-family-second: 'Spectral SC', serif;

$body-color: rgb(0, 0, 0);
$menu-color: rgb(255, 255, 255);
$menu-color-hover: rgba(255, 255, 255, .8);
$menu-color-background: rgba(0, 0, 0, 0.693);
$menu-color-active: rgb(253, 2, 2);
$menu-color-active-shadow: 0px 0px 20px rgb(244, 108, 108);
$menu-color-active-background: rgba(0, 0, 0, .5);

$button-hover-color: rgba(3, 204, 26, 0.7);
$button-hover-text-color: #fff;

$section-code-background: rgba(255, 255, 255, .1);

$welcome-section-degree: 180deg;
$welcome-section-first-color: rgb(255, 255, 255) 0%;   
$welcome-section-second-color:  rgb(255, 255, 255) 10%;

$install-section-degree: 90deg;
$install-section-first-color: rgba(32, 255, 0, .2);
$install-section-second-color: $welcome-section-second-color;

$usage-section-degree: 90deg;
$usage-section-first-color: rgba(44, 56, 28, 0.2);
$usage-section-second-color: $install-section-second-color;

$slides-section-degree: 90deg;
$slides-section-first-color: rgba(255, 155, 0, .2);
$slides-section-second-color: $usage-section-second-color;

$start-use-it-now-section-degree: 45deg;
$start-use-it-now-section-first-color: rgba(255, 255, 255, .2);
$start-use-it-now-section-second-color: $slides-section-second-color;
