@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

@import './variables';
@import './mixins';

body {
    font-family: 'Titillium Web', Arial sans-serif;
    color: $body-color;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
  }
  
  h1 {
    font-size: 3em;
  }
  
  h4 {
    font-size: 1.3em;
  }

  img {
    max-width:100%;
    max-height:100%;
  }

  