@import '~sass/variables';

.menu-wrapper {
    position: fixed;
    width: 100%;
    z-index: 70;
    text-align: center;
    height: 40px;
    margin: auto;
  }
  
  .menu {
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin: 10px;
    color: $menu-color;
    background: $menu-color-active;
    background: $menu-color-background;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
  }
  
  .menu li.active {
    background: #666;
    background: $menu-color-active-background;
    color: $menu-color-active;
  }
  
  .menu li a {
    text-decoration: none;
    color: $menu-color;
  }
  
  .menu li.active a:hover {
    color: $menu-color;
  }
  
  .menu li:hover {
    background: $menu-color-hover;
  }
  
  .menu li a,
  .menu li.active a {
    padding: 9px 18px;
    display: block;
  }
  
  .menu li.active a {
    color: $menu-color-active;
  }