<ul class="menu">
    <li data-menuanchor="menuAnchor1" class="active">
        <a href="#menuAnchor1">Купить</a>
    </li>
    <li data-menuanchor="menuAnchor2">
        <a href="#menuAnchor2">Информация</a>
    </li>
    <li data-menuanchor="menuAnchor3">
        <a href="#menuAnchor3">Товары</a>
    </li>
    <li data-menuanchor="menuAnchor4">
        <a href="#menuAnchor4">Картинки</a>
    </li>
    <li data-menuanchor="menuAnchor5">
        <a href="#menuAnchor5">О нас</a>
    </li>
    <li data-menuanchor="menuAnchor6">
        <a href="#menuAnchor6">Контакты</a>
    </li>
</ul>