
<swiper [config]="config">
        
    <div class="swiper-wrapper">
        <div *ngFor="let product of productsReal" class="swiper-slide">
                <div class="container">
                <div class="row justify-content-end">
                        <div class="col-md-4 col-xs-12  animate fadeInRight">
                            <img src="../assets/img/KXL-E40.png" class="img-responsive" alt="device" />
                        </div>
                        <div class="col-md-8 col-xs-12 justify-content-center device_name">
                            <h1 class="animate fadeInDown text-uppercase">KXL-E40</h1>
                            <h2 class="animate fadeInRight text-uppercase"> {{ product.name }} </h2>
                            <p class="animate fadeInUp">Измерительная техника становится все компактнее и надежнее. Обычные средства данной категории (метры, рулетки)
                                не гарантируют необходимую точность. Использование оптического датчика обеспечит высокую точность с одного
                                замера. Информативный 4-х строчный ЖК дисплей и встроенный цифровой угломер обеспечат комфортное пользование.
                                На такой прибор, благодаря специальному исполнению, не оказывают влияния температурный фактор или влажность.
                                И главное - в нем отсутствуют опасные поля и излучения.</p>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-md-4 col-xs-12 price animate fadeInRight">
                            <p>ЦЕНА
                                <span>650 &#8372;</span>
                            </p>
                            <p>ЕСТЬ В НАЛИЧИИ {{ product.isAvailable }}</p>
                        </div>
                        <div id="buyButton" class="col-md-4 col-xs-12 buyButtonBox  animate fadeIn ">
                            <button>Купить</button>
                        </div>
                    </div>
                </div>
           
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>