<div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
        <home-page></home-page>
    </div>
</div>

<div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
        <product-list></product-list>
    </div>
</div>

<div class="section usage-section fp-section fp-table">
    <div class="fp-tableCell">
        <div class="slide">
            <h1>Many ways to configure!</h1>
        </div>
        <div class="slide">
            <h1>Configure it via attributes</h1>
        </div>
    </div>
</div>

<div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
        <h2>Demo</h2>
    </div>
</div>

<div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
        <h2>Demo</h2>
    </div>
</div>

<div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
        <h2>Demo</h2>
    </div>
</div>